<h1>Listing stories</h1>
<%= message %>
<% @stories.each do |story| %>
  <div class="story-<%= story.id%>">
    <span class="secondary round label">
      <%= story.created_at.strftime("Story of %m/%d/%Y at %I:%M%p") %>
    </span>
    <div class="date-block">
      <%= story.created_at.strftime("%Y") %>
      <%= story.created_at.strftime("%d") %>
      <%= story.created_at.strftime("%B") %>
    </div>
    <%= markdown(story.post.lines.first) %>
    <ul class="button-group round">
      <li><%= link_to 'Show', story, :class => "button tiny"  %></li>
      <% if admin_signed_in? %>
      <li><%= link_to 'Edit', edit_story_path(story), :class => "button tiny"  %></li>
      <li><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button tiny alert"  %></li>
      <% end %>
    </ul>
  </div>
  <% if story != @stories.last %>
    <hr class="split">
  <% end %>
<% end %>
