<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Regulardesigner - le blog" %></title>

    <meta name="description" content="<%= content_for?(:meta_desc) ? yield(:meta_desc) : "Bienvenue sur le blog de Regulardesigner." %>" />
	
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400italic' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid sticky">
      <nav class="top-bar " data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><%=link_to 'Le blog de Regulardesigner', root_path %></h1>
          </li>
        </ul>
        <section class="top-bar-section">
        <!-- Right Nav Section -->
          <ul class="right">
            <% if admin_signed_in? %>
            <li><%= link_to draftCounter, draft_path, :class => "button radius alert" %></li>
            <li><%= link_to '&#9998; Create a new story'.html_safe, new_story_path %></li>
            <li class="active"><%= link_to '&#10081; Log-out'.html_safe, destroy_admin_session_path, :method => :delete %></li>
            <% else %>
            <li><%= link_to '&#10081; Log-in'.html_safe, new_admin_session_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </div>
    
    <div class="row">
      <div class="columns">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>